.DS_Store
indexer/data/*
indexer/data
indexer/temp/*
indexer/temp
indexer/enron_mail_20110402/*
indexer/enron_mail_20110402
#indexer/indexer
#webserver/webserver
data/*
data
email-reader/node_modules
email-reader/node_modules/*
email-reader/dist
email-reader/dist/*